@import "../../sass/_variables";

.wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 100;
  font-family: 'Trebuchet MS', "Arial", sans-serif;
  line-height: 0;
  color: #FFFFFF;

  .dark {
    background: grey;
  }

  .weight {
    font-size: 42px;
    position: absolute;
    top: 30px;
  }

  .unit {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
  }
}

.wrapper.dark {
  background: $grey;
}




