@import "../../sass/_variables";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .items {
    display: flex;
    position: relative;
    .card {
      margin-right: 80px;
    }

    .card:last-child {
      margin-right: 0;
    }
  }
  & .question {
    /*font-family: 'Exo 2.0 Thin', serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 100;
    color: $white;
    text-align: center;
    margin-bottom: 24px;
    text-shadow: 0px 1px 1px #000000;*/
    margin: 0 0 20px;
    padding: 0;
    text-shadow: 0 1px #000;
    font-weight: 100;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-family: "Exo 2.0","Arial",sans-serif;
  }

}


/*
background-image: linear-gradient(135deg,transparent 30px,#1698d9 30px);*/
