@import "../../sass/_variables";
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .items {
    display: flex;
    position: relative;
    .card {
      margin-right: 80px;
    }

    .card:last-child {
      margin-right: 0;
    }
  }
  & .question {
    margin: 0 0 20px;
    padding: 0;
    text-shadow: 0 1px #000;
    font-weight: 100;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-family: "Exo 2.0","Arial",sans-serif;
  }

}
