@import "../../sass/_variables";

.wrapper {
  width: 320px;
  height: 480px;
  border-radius: 12px;
  background-image: linear-gradient(135deg, transparent 30px, #1698d9 30px);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }


  & .cardBlock {
    position: relative;
    border-radius: 8px;
    background-image: linear-gradient(135deg, transparent 28px, #fff 30px);
    width: 312px;
    height: 472px;
    overflow: hidden;

    & .textWrapper {
      margin: 15px 0 0 45px;
      font-family: 'Trebuchet MS', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;

      & .tagline {
        color: $grey;
        font-family: 'Trebuchet MS', serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 5px;
      }

      & .taste {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 15px;
      }

      & span {
        font-size: 14px;
        line-height: 16px;
        color: $grey;
      }
    }

    & img {
      display: block;
      position: absolute;
      bottom: -100px;
      left: -30px;
      width: 370px;
    }

  }

  & .description {
    position: absolute;
    bottom: -30px;

    & .end {
      color: $yellow;
    }

    & span {
      color: $white;
      font-family: 'Trebuchet MS', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;

      .bye {
        color: $blue;
      }
    }
  }

}


.wrapper.select {
  background-image: linear-gradient(135deg, transparent 30px, #E52E7A 30px);
}

.wrapper.outStock {
  background-image: linear-gradient(135deg, transparent 30px, $grey 30px);

  & .cardBlock {
    opacity: 0.6;
  }
}
